{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block heading %}
  {{ super() }}
{% endblock %}

{% block content %}

<center>
  <h1>About me.</h1>
  <br />
  <hr>
    <div align="justify"><p>I am a husband to a gorgeous wife and a father to three beautiful little girls (ages 5, 3, and 1). 
      Before my time here at Utah State University, I lived in Oregon while working for a construction company as an IT Manager. 
      Prior to that, I finished my undergraduate degree in Business Management and had plans to attend law school immediately post-gradution. 
      After job shadowing a few business lawyers, I decided to axe those plans and to continue looking for my choice career.</p>
    
    <p>Although I am still look for that choice career, I have narrowed it down to the Business Intelligence and MIS categories. 
      I accepted a summer internship with Koch Industries (Koch Business Solutions) as an <b>IT Business Analyst</b> within their 
      applications department. I was informed I will be working closely with individuals who specifically tailor software to meet 
      the needs of their clients.</p></div>
  <hr>
</center>

{% endblock %}