{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}



{% block content %}
<center>
<h1>NBA Analytics | Web Scraping </h1>
<br />
<hr>
<div align="justify">Here is my soft introduction to my NBA Analytics Python project. The datasets used in this project are results of web scraping through a popular Python module called <a href="http://selenium-python.readthedocs.io">Selenium</a>. I put this module to work on sports-related websites such as <a href="http://www.espn.com">ESPN.com</a> and <a href="https://stats.nba.com">Stats.NBA.com</a>.
</div>
<hr>
</center>
{% endblock %}